.conteiner {
  height: 300px;
  width: 300px;
  margin: 5vh auto;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px 1px black;
}

.btn {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}